/*********************
Use SASS to write your CSS
SASS files are:

main.scss
which will import:

normalize.scss
variables.scss
mixins.scss
sticky-footer.scss

You may divide your sass into addition files as you wish.
Eg: 
- grid.scss
- buttons.scss
*********************/

/******************************************************************
Site Name: MAD 9013 - SASS
Author: D.Khanh

Stylesheet: Main Stylesheet
******************************************************************/

/* = Normalize 
-------------------------------------------------------------------------------------------------------------------- */
@import "normalize";


/* = Variables 
-------------------------------------------------------------------------------------------------------------------- */
@import "variables";


/* = Mixins 
-------------------------------------------------------------------------------------------------------------------- */
@import "mixins";


/* = Footer
-------------------------------------------------------------------------------------------------------------------- */
@import "sticky-footer";

